# Week 1: Basics

#### Exercise 1: Write a code that prints out Hello World

In [1]:
print("Hello World")

Hello World

#### Exercise 2: Write a code that the sum of two numbers *a* and *b*

In [2]:
a = 1
b = 3
print(a+b)

4

#### Exercise 3: Write a code that outputs your name and age

In [4]:
name = "Jade"
age = 21

# Option 1:
print("My name is", name, "and I am", age, "years old.")

# Option 2:
print(f"My name is {name} and I am {age} years old.")

My name is Jade and I am 21 years old.
My name is Jade and I am 21 years old.

## Extra Exercises

#### Extra Exercise 1: Write code that prints out a fictional name, address, age, and occupation of a character of your choice (use variables!)

In [8]:
name = "Ioan de Montrouge"
address = "Château de Montrouge, 42600 Savigneux, France"
age = 21
occupation = "Baron"

print(f"My name is {name} and I am {age} years old. I live at {address}, and I am a {occupation}.")

My name is Ioan de Montrouge and I am 21 years old. I live at Château de Montrouge, 42600 Savigneux, France, and I am a Baron.

#### Extra Exercise 2: Write three variables that represent the salary of three different workers, and print out the average salary

In [7]:
s1 = 50000
s2 = 75000
s3 = 100000

print(f"The average salary is ${(s1+s2+s3)/3}")

The average salary is $75000.0